// Navigation Styles here
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0 3% 0;
    border-bottom: 2px dashed @navigation-border;

    header {
      margin-left: 5.2rem;
    }

    nav {
      width: 30%;
      margin-right: 5.2rem;
      display: flex;
      justify-content: space-evenly;

        a {
          text-decoration: none;
          color: @font-color;
          font-size: 1.4rem;
        }
    }
}